* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'sans-serif';
}

body {
    background-color: white;
    color: #000;
}

header {
    background-color: #ddd;
    padding: 15px 0;
}

nav ul {

    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {

    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
}

.hero .text {
    max-width: 500px;
}

.hero h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

button :hover {
    background-color: #333;
}

.socials {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.socials img {
    width: 30px;
    height: 30px;
}

.image img {
    width: 360px;
}